@{
  Layout = "_Layout";
}

@model SweetsAndTreats.Models.Treat

<h2>Add Flavor</h2>

<h4>Add an Flavor to this Treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}
<div id="Sidebar">
<p>@Html.ActionLink("Back to list", "Index", "Treats", null, new { id = "linkId" })</p>
</div>