@{
  Layout = "_Layout";
}

@model SweetsAndTreats.Models.Treat

<h2>Edit</h2>

<h4>Edit this Treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)

  <input type="submit" value="Save" />
}
<div id="SideBar">
<p>@Html.ActionLink("Back to list", "Index", "Treats", null, new { id = "linkId" })</p>
</div>