@{
  Layout = "_Layout";
}

@model SweetsAndTreats.Models.Flavor

<h1>Add a Treat!</h1>

<h2>Add a Treat to this Flavor</h2>
<h3>@Html.DisplayFor(model => model.FlavorName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  <h3>@Html.Label("Select Treat")</h3>
  <p>@Html.DropDownList("TreatId")</p>

  <input type="submit" value="Save" class="btn btn-dark" />
}
<br>
<div id="SideBar">
<p>@Html.ActionLink("Back to list", "Index", "Flavors", null, new { id="linkId" })</p>
</div>