@{
  Layout = "_Layout";
}

@using SweetsAndTreats.Models
@model Flavor

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Flavor assigned any Treats yet.</p>
}
else
{
  <h4>Treats with this Flavor</h4>
  <ul>
  @foreach(TreatFlavor join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>